@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';
@import url('https://fonts.googleapis.com/css2?family=Norican&family=Roboto&display=swap');

body {
  background-color: #8EB1C7 !important;
  font-family: 'Roboto', sans-serif;
}

.title {
  font-family: 'Norican', cursive;
}